body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 50px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

h1 {
    color: #333;
}

.game-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

#wam {
    background-color: #ADD8E6;
    color: #0056b3;
}

#wam:hover {
    background-color: #84C1D7;
}

#fb {
    background-color: #F9D800;
    color: #000000;
}

#fb:hover {
    background-color: #D1B100;
}
